name: deploy-pages

on:
  push:
    branches: ["master"]

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Pages
        uses: actions/configure-pages@v3
      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: latest
      - name: Setup node ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'
      - name: Install
        uses: pnpm/action-setup@v2
        with:
          version: 8
          run_install: |
            - recursive: true
              args: [--frozen-lockfile, --strict-peer-dependencies]
      - name: Setup Rust and Cargo
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: wasm32-unknown-unknown
      - name: Setup wasm-pack
        uses: jetli/wasm-pack-action@v0.4.0
        with:
          version: 'v0.10.3'
      - name: Build
        run: |
          pnpm -r run build
      - name: Generate docs for glass-easel
        working-directory: glass-easel
        run: |
          npm run doc
      - name: Generate docs for glass-easel-miniprogram-adapter
        working-directory: glass-easel-miniprogram-adapter
        run: |
          npm run doc
      - name: Collect artifacts
        run: |
          mkdir github-pages
          mkdir github-pages/docs
          mv glass-easel/docs github-pages/docs/glass-easel
          mv glass-easel-miniprogram-adapter/docs github-pages/docs/glass-easel-miniprogram-adapter
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: 'github-pages'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
